@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
/*overrides Tailwind's default dark mode behavior.
Instead of using prefers-color-scheme, it will apply dark styles
whenever a .dark class is present anywhere up the HTML tree
and with document.documentElement in useTheme I apply it to the
html element*/

@theme {
  --color-black: #1E1E1E;
  --color-white: #F3F3F3;
  --color-blue: #212026;
  --color-accent-light: #F7B78F;
  --color-accent-dark: #FF6509;

  --font-sans: 'Inter', system-ui, -apple-system, sans-serif;
  --font-serif: 'DM Serif Display', Georgia, serif
}

* {
  box-sizing: border-box;
}

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

body {
  font-family: var(--font-family-sans);
  line-height: 1.5;
  font-weight: 200;
  font-size: 16px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--color-black);
}

.dark body {
  color: var(--color-white);
}

.navbar-shadow {
  box-shadow: 5px 5px 30px var(--color-black);
}

button {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--color-accent-light);
  font-weight: 400;
  text-transform: uppercase;
}

.dark button {
  background-color: var(--color-accent-dark);
}

button:hover {

}

button.themeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
  height: 2rem;
  width: 2rem;
  border-radius: 100rem;
  background-color: var(--color-blue);
}

.dark button.themeButton {
  background-color: var(--color-white);
}
